# SPDX-License-Identifier: (GPL-2.0+ OR MIT)
#
# LED drivers configuration
#

config AMLOGIC_LED
	tristate "Amlogic LED Support"
	default n
	help
	  amlogic led support
	  select y for built-in
	  select m for ko
	  select n for disable
	  This option alone does not add any kernel code.
	  If you say N, all options in this submenu will be
	  skipped and disabled.

if AMLOGIC_LED

config AMLOGIC_LEDS_TLC59116
	bool "LED Support for the TLC59116"
	depends on LEDS_CLASS
	default n
	help
	  Choose this option if you want to use the LED on
	  TLC59116.

config AMLOGIC_LEDS_AW9523B
	bool "LED Support for the AW9523B"
	depends on LEDS_CLASS
	default n
	help
	  Choose this option if you want to use the LED on
	  AW9523B.

config AMLOGIC_LEDS_STATE
	bool "LED state support"
	depends on LEDS_CLASS
	default n
	help
	  Choose this option if you want to use the LED state
	  and led function

config AMLOGIC_LEDS_DCON
	bool "DCON LED support"
	depends on LEDS_CLASS
	default n
	help
	  Choose this option if you want to use the DCON LED
	  and led function

endif
