# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

# amlogic-uart
CONFIG_AMLOGIC_SERIAL_MESON=y

# amlogic-gkitool
CONFIG_AMLOGIC_GKI_TOOL=y

# amlogic-debug
CONFIG_AMLOGIC_DEBUG=y

# amlogic-memory-debug
CONFIG_AMLOGIC_MEMORY_DEBUG=y

# amlogic-secmon
CONFIG_AMLOGIC_SECMON=y

# amlogic-clk
CONFIG_AMLOGIC_COMMON_CLK=y

# amlogic-clk-soc-xxx
CONFIG_AMLOGIC_COMMON_CLK_S4=y
CONFIG_AMLOGIC_COMMON_CLK_SC2=y
CONFIG_AMLOGIC_COMMON_CLK_C2=y
CONFIG_AMLOGIC_COMMON_CLK_C3=y
CONFIG_AMLOGIC_COMMON_CLK_A1=y
CONFIG_AMLOGIC_COMMON_CLK_T3=y
CONFIG_AMLOGIC_COMMON_CLK_T7=y
CONFIG_AMLOGIC_COMMON_CLK_T5M=y

# amlogic-gpio
CONFIG_AMLOGIC_GPIO=y

# amlogic-pinctrl-soc-xxx
CONFIG_AMLOGIC_PINCTRL_MESON_S4=y
CONFIG_AMLOGIC_PINCTRL_MESON_C2=y
CONFIG_AMLOGIC_PINCTRL_MESON_C3=y
CONFIG_AMLOGIC_PINCTRL_MESON_A1=y
CONFIG_AMLOGIC_PINCTRL_MESON_SC2=y
CONFIG_AMLOGIC_PINCTRL_MESON_T3=y
CONFIG_AMLOGIC_PINCTRL_MESON_T7=y
CONFIG_AMLOGIC_PINCTRL_MESON_T5M=y

# amlogic-mailbox
CONFIG_AMLOGIC_MHU_MBOX=y

# amlogic-pwm
CONFIG_AMLOGIC_PWM_MESON=y

# pwm-regulator
CONFIG_REGULATOR_PWM=y

# amlogic-power
CONFIG_AMLOGIC_POWER=y

# amlogic-cpuinfo
CONFIG_AMLOGIC_CPU_INFO=y

# amlogic-cpufreq
CONFIG_AMLOGIC_MESON_CPUFREQ=y

# amlogic-reset
CONFIG_AMLOGIC_RESET_MESON=y

# amlogic-efuse-unifykey
CONFIG_AMLOGIC_EFUSE_UNIFYKEY=y

# amlogic-mmc
CONFIG_AMLOGIC_MMC_MESON_GX=y

# system_heap
CONFIG_DMABUF_HEAPS_SYSTEM=y

# amlogic-i2c
CONFIG_AMLOGIC_I2C_MESON=y

# amlogic-spi
CONFIG_AMLOGIC_SPI=y

# amlogic-rng
CONFIG_AMLOGIC_HW_RANDOM_MESON=y

# amlogic-tee
CONFIG_AML_TEE=y
CONFIG_AML_OPTEE=y
CONFIG_AMLOGIC_TEE=y

# videobuf-core
CONFIG_AMLOGIC_MEDIA_UTILS=y

# dvb-core
CONFIG_DVB_CORE=y

# amlogic-pm
CONFIG_AMLOGIC_PM=y

# amlogic-input
CONFIG_AMLOGIC_INPUT=y

# amlogic-watchdog
CONFIG_AMLOGIC_MESON_GXBB_WATCHDOG=y

# amlogic-dvb
CONFIG_AMLOGIC_DVB_CONFIG=y

# amlogic-dvb-ci
# CONFIG_AMLOGIC_DVB_CI=y

# aml_media
CONFIG_AMLOGIC_MEDIA_MODULE=y
CONFIG_FB=y
CONFIG_AMLOGIC_MEDIA_FB=y
CONFIG_AMLOGIC_MEDIA_FB_OSD_SYNC_FENCE=y
CONFIG_AMLOGIC_MEDIA_FB_OSD_VSYNC_RDMA=y
CONFIG_AMLOGIC_MEDIA_FB_OSD2_ENABLE=y
CONFIG_AMLOGIC_MEDIA_FB_OSD2_CURSOR=y
