# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

config AMLOGIC_MTD_COMMON
	tristate "AMLOGIC MTD common api"
	help
		Meson slc nand and spi nand have many public
		APIS. These public APIs are unified in the
                same Ko.

config AMLOGIC_MTD_RESV
	tristate "AMLOGIC MTD reserve area management"
	help
		Implements a reserve area which is used
		to manage the bbt/key/dtd/env and so on.
		we pre-allocate fixed blocks and list these
		blocks base on different usage, such as bbt,
		key. it is efficiently for power lost and
		backups and others.

config AMLOGIC_NAND
	bool "Amlogic NAND modification"
	default n
	depends on MTD_BLOCK
	depends on AMLOGIC_BREAK_GKI_20
	help
		Add bad block handling for mtd block. some
		filesystems or users don't care the bad blocks
		on raw NAND, so if you want to handle bad blocks
		in mtd block layer, say Y here.
