#
# Amlogic hwspinlock device configuration
#

menu "MESON hw spin lock Support"

config AMLOGIC_HWSPINLOCK
	tristate "MESON HW SPIN LOCK"
	select HWSPINLOCK
	help
		MESON HWSPIN LOCK.
		.
		.
		.

endmenu
