# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

menu "Amlogic Device Drivers"

source "$(COMMON_DRIVERS_DIR)/drivers/tty/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/clk/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/secmon/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/drm/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/media/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/power/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/cpu_info/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/pm/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/gpio/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/input/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/i2c/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/spi/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/tee/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/aml_tee/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/gki_tool/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/pwm/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/asr/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/cpufreq/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/efuse_unifykey/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/mailbox/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/jtag/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/watchdog/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/memory_ext/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/memory_debug/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/iio/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/char/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/soc_info/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/reset/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/rtc/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/irblaster/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/thermal/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/mmc/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/hifi4dsp/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/debug/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/camera/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/freertos/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/usb/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/crypto/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/wireless/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/net/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/mtd/spinand/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/mtd/nand/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/mtd/common/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/dvb/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/cpuidle/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/pci/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/led/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/dvb_ci/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/hwspinlock/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/android/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/yaffs2/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/audiobridge/Kconfig"
endmenu
