# SPDX-License-Identifier: GPL-2.0-only

config AMLOGIC_PCIE_V2_HOST
	tristate "Meson PCIE_V2 controller"
	depends on AMLOGIC_PCI_HOST
	depends on PCI && PCI_MSI_IRQ_DOMAIN
	depends on PCIE_DW_HOST
	help
	  Say Y here if you want to enable PCIE controller support on Amlogic
	  SoCs. The PCIE controller on Amlogic is based on DesignWare hardware
	  and therefore the driver re-uses the DesignWare core functions to
	  implement the driver.

