# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

#
# HDMITX
#
menu "Amlogic HDMITX Module"

config AMLOGIC_HDMITX
	bool "AMLOGIC HDMITX driver"
	select AMLOGIC_HDMITX_COMMON
	default n
	help
	This option is used to configure Amlogic drivers
        of the hdmi tx output

endmenu
