# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

config AMLOGIC_GPIO_KEY
	bool "Amlogic gpio key device support"
	default n
	help
	  Say Y here if
	  you want to use
	  the amlogic hold
	  key.

config AMLOGIC_ADC_KEYPADS
	bool "Meson ADC keypad support"
	depends on AMLOGIC_MESON_SARADC
	default n
	help
	  Say Y here if
	  you want to
	  use the Meson ADC
	  keypad.