# SPDX-License-Identifier: (GPL-2.0+ OR MIT)
#
# frame sync configuration
#

config AMLOGIC_MEDIA_FRC
        bool "Amlogic FRC Support"
        default n
        help
                Select to enable frc support
