# SPDX-License-Identifier: GPL-2.0-or-later
#
# Amlogic AUCPU driver configuration
#
config AMLOGIC_AUCPU
	bool "Amlogic Aucpu driver"
	default N
#	depends on AMLOGIC_MEDIA_CODEC_MM
	help
		Amlogic AUCPU Driver module support
		This module driver support amlogic aucpu